<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular JS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
	<script src="js/main.js"></script>
    <style>
        form {float:left;}
        .half {width:45%; display:inline-block; padding:0;}
        table {width:400px; border-collapse:collapse;}
        table td {width:100px; background:#cacaca;}
    </style>
</head>
<body ng-app ng-init="weekdays=['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']">
	<div ng-controller="CartCtrl">
		<div>
		<form action="javascript:;" class="half">
			<fieldset>
				<label>
					<p>Nome</p>
					<input type="text" ng-model="theName" ng-init="theName='Mateus'" autofocus required>
				</label>
				<label>
					<p>Sobrenome</p>
					<input type="text" ng-model="surname">
				</label>
				<label>
					<p>Produto</p>
					<input type="text" ng-model="productName">
				</label>
				<label>
					<p>Quantidade</p>
					<input type="number" ng-model="quantity">
				</label>
				<label>
					<p>Valor</p>
					<input type="text" ng-model="price">
				</label>

				<button type="button" ng-click="addProduct(productName, quantity, price)">Adicionar</button>
			</fieldset>
		</form>

		<div class="half">
			<p>{{ weekdays[weekDay()] }}</p>
			<p ng-bind="'Carrinho de ' + theName + ' ' + surname | uppercase"></p>
			<div>
				<p>Ordenar</p>
				<label>
					<input type="radio" ng-model="theFilter" name="theFilter" value="name"> Descrição
				</label>
				<label>
					<input type="radio" ng-model="theFilter" name="theFilter" value="quantity"> Quantidade
				</label>
				<label>
					<input type="radio" ng-model="theFilter" name="theFilter" value="price"> Preço
				</label>
			</div>
			<div>
				<input type="search" placeholder="Encontrar produto" ng-model="search">
			</div>
			<table border cellspacing="0" class="half">
				<thead>
					<th>Descrição</th>
					<th>Quantidade</th>
					<th>Valor unitário</th>
					<th>Valor total</th>
				</thead>
				<tr ng-repeat="product in cart | filter: search | orderBy: theFilter">
					<td>{{ product.name }}</td>
					<td>{{ product.quantity }}</td>
					<td>{{ product.price | currency }}</td>
					<td>{{ product.price * product.quantity | currency }}</td>
				</tr>
			</table>	
		</div>
	</div>
	
</body>
</html>